# Copia este archivo a .env y completa los valores

# Google Auth (debes usar el mismo que en backend)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=619027189765-m36hn8uselfd2ov6at8qi1iioe5fnghm.apps.googleusercontent.com

# URL del backend para desarrollo
EXPO_PUBLIC_API_URL=http://localhost:3001
