# Copia este archivo a .env y completa los valores

# PostgreSQL local
DATABASE_URL=postgresql://postgres:codePOST29122@localhost:5432/finlog
# O usa tu string de Neon si querés testear con la base remota
# DATABASE_URL=postgresql://<usuario>:<password>@<host>/<db>?sslmode=require&channel_binding=require

# Google Auth
GOOGLE_CLIENT_ID=619027189765-m36hn8uselfd2ov6at8qi1iioe5fnghm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=poné_tu_secret_aca
# Redireccionamiento según entorno:
# LOCAL:
# GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback
# PRODUCCIÓN:
# GOOGLE_REDIRECT_URI=https://finlog-7cfz.onrender.com/api/auth/google/callback
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback

# JWT secreto para tokens
JWT_SECRET=poné_un_valor_secreto_largo_aca
